@import "tailwindcss";

html,
body, 
:root {
  height: 100%;
}

@theme {
  --color-background: #FEFBF4;
  --color-brown-1: #806868;
  --color-grey-2: #E5E7EB;
  --color-blue-1: #D7EDF8;
  --color-blue-2: #8BA3C5;
  --color-blue-3: #F5F7F9;
  --color-red-1: #FF0000;
  --color-red-2: #F66A6E;
}